.form{
    display: flex;
    flex-direction: column; 
    padding: 30px;
    width: 500px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.form-data{
    display: flex;
    flex-direction: column;
}
.forgotpassword-container{
    width: 100%;
    height: 100vh;
   display: flex;
    justify-content: center;
    align-items: center;
    
}
.forgot-password-form{
    width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.sorR{
    display: flex;
    margin-top: 30px;
    margin-left: 150px;
}
.form-data :nth-child(3){
    display: flex;
    justify-content: space-between;
}
.form-data :nth-child(3) >a{
    font-size: 17px;
    
}
.form-container{
    width: 100%;
    height: calc(100vh - 74px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-lable{
font-size: 24px;
}
.form-input{
border: 1px black solid;
height: 30px;
font-size: 20px;
margin: 5px;
}
.btn{
    margin-top: 30px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    color: aliceblue;
    background-color: rgb(19, 3, 95);
    margin-left: 150px;
}